body {
  font-size: 16px;
}
/* pseudo-class === html type selector */
:root {
  /* uses browser default size (16px) */
  font-size: 1em;
}

ul {
  /* relative to root font-size */
  font-size: 0.8rem;
}

.slogan {
  /* 1.2 times inherited font-size 19.2px*/
  font-size: 1.2em;
  /* 1.2 times local font-size 23.04 */
  padding: 1.2em;
  background: #ccc;
}

.padded {
  /* local definition for 1em  */
  font-size: 16px;
  padding: 1em;
}

.box {
  padding: 1em;
  border-radius: 1em;
  background-color: lightgray;
}

.box-small {
  font-size: 12px;
}

.box-large {
  font-size: 18px;
}
