:root {
  --main-font: Helvetica, Arial, sans-serif;
  --brand-color: #369;
}

p {
  /* specifies a fallback value of sans-serif */
  font-family: var(--main-font, sans-serif);
  /* secondary-color is undefine so fallback value of blue is used */
  color: var(--secondary-color, blue);
}
