:root {
  font-size: calc(0.5em + 1vw);
}

body {
  /* descendant elements inherit the unitless value */
  line-height: 1.2;
}

.about-us {
  font-size: 2em;
}

.panel {
  /* establishes predictable font-size for the component */
  font-size: 1rem;
  padding: 1em;
  border-radius: 0.5em;
  border: 1px solid #999;
}

.panel > h2 {
  margin-top: 0;
  /* uses ems to make other fonts relative to the established parent font size */
  font-size: 0.8em;
  font-weight: bold;
  text-transform: uppercase;
}

.panel.large {
  font-size: 1.2rem;
}
