:root {
  /* applies to all screens but overridden for larger screens */
  font-size: 0.75em;
}

/* applies only to screens 800px & larger, overriding the original value */
@media (min-width: 800px) {
  :root {
    font-size: 0.875em;
  }
}

/* applies only to screens 1200px & larger, overriding both values */
@media (min-width: 1200px) {
  :root {
    font-size: 1em;
  }
}

.panel {
  /* establishes predictable font-size for the component */
  font-size: 1rem;
  padding: 1em;
  border-radius: 0.5em;
  border: 1px solid #999;
}

.panel > h2 {
  margin-top: 0;
  /* uses ems to make other fonts relative to the established parent font size */
  font-size: 0.8em;
  font-weight: bold;
  text-transform: uppercase;
}

.panel.large {
  font-size: 1.2rem;
}
